/* Universal Styles */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
  background-color: rgb(241, 241, 241);
  width: 100%;
  overflow-x: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  text-align: left;
  margin: 0px 0px 0px 40px;
  font-size: 16px;
  color:black;
  font-weight: bold;
}

h1 {
  text-align: left;
  font-size: 28px;
  margin: 0px 0px 0px 40px;
  padding: 40px 0px 0px 0px;
}

.app {
  text-align: center;
  background-color: rgb(241, 241, 241);
  padding: 0px 0px 0px 100px;
  height: 100%;
}










/* Dashboard Section */

.h1 {
  margin: 20px 0px 0px 20px;
}

.plans {
  margin: 0px 64px 0px 0px;
}

#plans-section {
  background-color: white;
  border-radius: 8px;
  width: 80%;
  margin: 50px auto 200px auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19);
  padding: 0px 0px 5% 0px;
}

.plans-subtitle {
  margin: 50px 0px 20px 60px;
  display: inline-block;
  float: left;
  font-size: 20px;
}





/* Plans Page */

#sidebar {
  height: 100%;
  width: 64px;
  top: 0px;
  left: 0px;
  background-color: white;
  position: fixed;
  z-index: 1;
  border-right: 0px solid black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19);
}

#plans {
  margin: 20px 0px 0px 120px;
}

#plans-h1 {
  margin: 20px 0px 0px 120px;
}

#plans-side-logo {
  margin: 60px 0px 0px 0px;
}

#plans-section2 {
  background-color: white;
  border-radius: 8px;
  width: 80%;
  margin: 40px auto 80px auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19);
  padding: 0px 0px 40px 0px;
}

.plans-solid-hr {
  width: 92%;
  border: 1px solid rgb(226, 225, 225);
  margin: 0px auto 0px auto;
}

.plans-button {
  float: right;
  display: inline-block;
  margin: 35px 70px 0px 0px;
  background-color: rgb(4, 187, 172);
  color: white;
  border: 0px solid rgb(192, 192, 192);
  border-radius: 2px;
  padding: 14px 28px;
  font-size: 14px;
  bottom: 0;
  position: relative;
}

.plans-button:hover {
  cursor: pointer;
  border: 0px solid black;
  opacity: 70%;
}

#no-plans-message {
  font-weight: normal;
  text-align: center;
  margin: 40px 0px 0px 0px;
  display: none;
}










/* Images */

.education:hover {
  opacity: 70%;
  cursor: pointer;
}

.home:hover {
  opacity: 70%;
  cursor: pointer;
}

.fpblogo:hover {
  opacity: 75%;
  cursor: pointer;
}

.analytics:hover {
  opacity: 70%;
  cursor: pointer;
}

.integrations:hover {
  opacity: 70%;
  cursor: pointer;
}

.settings:hover {
  opacity: 70%;
  cursor: pointer;
}

#plus {
  width: 40px;
  text-align: right;
  margin: -10px 0px 0px 600px;
}

.plus {
  float: right;
  margin: 0px 10% 0px 20px;
  padding: 0px;
}

.plus:hover {
  cursor: pointer;
  opacity: 70%;
}

.home2 {
  width: 30px;
  display: block;
  margin: 0px auto;
  position: relative;
}

.home2:hover {
  cursor: pointer;
  opacity: 70%;
}

.home-img {
  cursor: pointer;
  opacity: 70%;
}

#plans-side-logo:hover {
  cursor: pointer;
  opacity: 75%;
}













/* Hover Elements */

#home-img {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px auto 0px auto;
  padding: 0px 0px 0px 0px;
}

#home-img:hover {
  cursor: pointer;
  border-radius: 20px;
}

.percent-change {
  font-size: 12px;
  color: green;
  float: right;
  margin: 5px 0px 0px 40px;
  padding: 0px 10% 0px 0px;
}

.percent-box {
  width: 100%;
  float: right;
}

.asset {
  float: left;
}

.asset-number {
  float: right;
  margin-right: 30px;
}

.asset-section {
  margin: 40px 0px 0px 0px;
}

.asset-box {
  width: 100%;
}

.asset-section2 {
  margin: 40px 0px 0px 0px;
  padding: 40px 0px 0px 0px;
}

.asset-number2 {
  float: right;
  margin: 20px 40px 0px 0px;
}

.asset2 {
  float: left;
  margin: 20px 0px 0px 40px;
  padding: 0px 30px 0px 0px;
}

.red {
  color: red;
}

.chart {
  margin: 20px 0px 0px 0px;
}







/* Settings Page */

.settings-h1 {
  margin: 20px 0px 0px 120px;
}

#settings-container {
  padding: 0px 0px 0px 0px;
}

#settings-content {
  background-color: white;
  padding: 20px 0px 20px 0px;
  width: 80%;
  margin: 40px auto 80px auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
}

.settings-nav-p {
  display: inline-block;
  font-weight: 500;
  padding: 20px 20px 0px 20px;
  margin: 0px 0px 0px 0px;
}

.settings-nav-p:hover {
  cursor: pointer;
  opacity: 70%;
  color: black;
}

#settings-nav-middle-p {
  padding: 0px 140px 0px 140px;
}

#settings-nav-profile {
  color: black;
}

#settings-nav {
  text-align: center;
  margin: 0px 0px 0px 0px;
}







/* Integrations Page */

#integrations-h1 {
  margin: 20px 0px 0px 120px;
}

#integrations-side-logo {
  margin: 60px 0px 0px 0px;
}

#integrations-section {
  background-color: white;
  border-radius: 8px;
  width: 80%;
  margin: 40px auto 120px auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19);
  padding: 0px 0px 80px 0px;
}

.integrations-subtitle {
  margin: 50px 0px 20px 60px;
  display: inline-block;
  float: left;
}

.integrations-solid-hr {
  width: 92%;
  border: 1px solid rgb(226, 225, 225);
  margin: 0px auto 0px auto;
}

.integrations-button {
  float: right;
  display: inline-block;
  margin: 40px 70px 0px 0px;
  background-color: rgb(4, 187, 172);
  color: white;
  border: 0px solid rgb(192, 192, 192);
  border-radius: 2px;
  padding: 12px 24px;
  font-size: 12px;
  bottom: 0;
  position: relative;
}

.integrations-button:hover {
  cursor: pointer;
  border: 0px solid black;
  opacity: 70%;
}

.no-integrations-message {
  font-weight: normal;
  text-align: center;
  margin: 40px 0px 0px 0px;
}






/* Profile Component */

#profile-section {
  margin: 20px 0px 20px 0px;
}

#profile-update-form {
  margin: 40px 0px 20px 0px;
  text-align: left;
}

.profile-form-input {
  margin: 10px 0px 20px 40px;
  text-align: left;
  padding: 10px 80px 10px 10px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 4px;
  font-size: 18px;
}

.profile-form-label {
  text-align: left;
  margin: 0px 0px 0px 40px;
  padding: 0px;
}

#profile-save-button {
  background-color: rgb(4, 187, 172);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 14px 28px;
  font-size: 14px;
  margin: 20px 40px;
}

#profile-save-button:hover {
  cursor: pointer;
  opacity: 80%;
}





/* Payment Methods Component */

#payment-method-title {
  margin: 15px 0px 10px 50px;
  display: inline-block;
  float: left;
  padding: 0px;
}

.payment-button {
  float: right;
  display: inline-block;
  margin: 0px 70px 15px 0px;
  background-color: rgb(4, 187, 172);
  color: white;
  border: 0px solid rgb(192, 192, 192);
  border-radius: 2px;
  padding: 12px 24px;
  font-size: 12px;
  bottom: 0;
  position: relative;
}

.payment-button:hover {
  opacity: 70%;
  cursor: pointer;
}

.payment-solid-hr {
  width: 92%;
  border: 1px solid rgb(226, 225, 225);
  margin: 10px auto 0px auto;
}

#no-payment-message {
  font-weight: normal;
  text-align: center;
  margin: 40px 0px 60px 0px;
}






/* Close Account */

#cancel-method-title {
  margin: 15px 0px 10px 50px;
  display: inline-block;
  float: left;
  padding: 0px;
}

.cancel-button {
  float: right;
  display: inline-block;
  margin: 0px 70px 15px 0px;
  background-color: red;
  color: white;
  border: 0px solid rgb(192, 192, 192);
  border-radius: 2px;
  padding: 12px 24px;
  font-size: 12px;
  bottom: 0;
  position: relative;
}

.cancel-button:hover {
  opacity: 70%;
  cursor: pointer;
}

.cancel-solid-hr {
  width: 92%;
  border: 1px solid rgb(226, 225, 225);
  margin: 10px auto 0px auto;
}

#cancel-account-message {
  font-weight: normal;
  text-align: center;
  margin: 40px 0px 60px 0px;
}








/* Sidebar Section */

#fpb-top-logo {
  margin: 60px auto 0px auto;
}

.sidebar-logo {
  display: block;
  margin: 60px 0px 0px 0px;
}

#home-side-logo {
  margin: 60px 0px 0px 0px;
}

#plans-side-logo {
  margin: 60px 0px 0px 0px;
}

#settings-side-logo {
  margin: 60px 0px 0px 0px;
}









/* Plans Popup Section */

#full-width-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 0;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
}

#plan-form-popup-section {
  background-color: white;
  width: 80%;
  margin: 10% auto 0px auto;
  padding: 20px 0px 40px 0px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
}

#plan-form-page-1 {
  margin: 20px auto 0px 0px;
}

#plan-title {
  text-align: center;
  margin: 0px auto 0px auto;
  
}

.plan-input-box {
  margin: 40px 0px 0px 0px;
}

#plan-form-popup-section label {
  font-size: 18px;
}

#plan-form-popup-section select {
  font-size: 16px;
  padding: 5px;
  margin-left: 10px;
}

#plans-section2 {
  margin: 60px auto 450px auto;
}







/* Footer Section */

#footer-section {
  border-top: 1px solid rgb(216, 214, 214);
  margin: 0px 0px 0px 0px;
  padding: 30px 0px 30px 0px;
  bottom: 0;
  width: 100%;
  position: relative;
}

#footer-text-box {
  margin: 0px 0px 0px 60px;
}

#footer-section p {
  font-weight: normal;
  display: inline-block;
  text-align: left;
}

#footer-copyright {
  float: right;
  margin: 4px 40px 0px 0px;
  font-size: 16px;
  color:rgb(156, 156, 156);
}

#footer-nav-box {
  display: inline-block;
  float: left;
  margin: 0px 0px 0px 60px;
  padding: 0px 0px 30px 0px;
}

#footer-copyright-box {
  display: inline-block;
  float: right;
}

.footer-nav-item {
  color: rgb(156, 156, 156);
}

.footer-nav-item:hover {
  cursor: pointer;
  opacity: 70%;
}







/* Legal Page */
.legal-section {
  padding: 0px 0px 80px 0px;
}

#legal-h1 {
  margin: 20px 0px 0px 120px;
}

.terms {
  font-weight: normal;
  margin: 20px 60px 0px 120px;
}

.terms-h2 {
  text-align: left;
  margin: 20px 0px 0px 120px;
  font-size: 20px;
} 







/* Create a Plan */

#create-a-plan {
  margin: 15% auto 1% auto;
  text-align: center;
  font-size: 42px;
}

#create-a-plan-h2 {
  font-weight: normal;
  font-size: 16px;
  margin: 0px 0px 0px 0px;
}

#create-a-plan-2-h2 {
  font-weight: normal;
  font-size: 16px;
  margin: 10px 20% 2% 20%;
}

.plan-input-box {
  text-align: center;
  margin: 20px auto 0px auto;
}

.retirement-form-label {
  text-align: center;
  margin: 40px 0px 0px 0px;
  padding: 40px 0px 0px 0px;
  font-size: 18px;
  font-weight: 500;
}

.plan-input-box select {
  font-size: 16px;
  padding: 5px;
  margin: 0px 0px 0px 10px;
}

.plan-input-box input {
  font-size: 16px;
  padding: 5px;
  margin: 0px 0px 0px 10px;
}

#plan-button {
  background-color: rgb(4, 187, 172);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 16px 32px;
  font-size: 18px;
  margin: 5% 0px 18% 0px;
  font-weight: normal;
}

#plan-button:hover {
  cursor: pointer;
  opacity: 75%;
}

#plan-button2 {
  background-color: rgb(4, 187, 172);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 16px 32px;
  font-size: 18px;
  margin: 5% 0px 5% 0px;
}

#plan-button2:hover {
  cursor: pointer;
  opacity: 75%;
}

#note {
  margin: 15px auto 0px auto;
  font-weight: normal;
  line-height: 28px;
  text-align: center
}

#large-input {
  font-size: 28px;
  font-weight: normal;
  padding: 20px 20px;
  width: 40%;
  border: rgb(207, 207, 207) solid 2px;
}

#section-start-h1 {
  margin: 18% auto 1% auto;
  text-align: center;
  font-size: 42px;
}

#section-start-h2 {
  font-weight: normal;
  font-size: 16px;
  margin: 0px 0px 2% 0px;
}

#section-start-button {
    background-color: rgb(4, 187, 172);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 16px 32px;
    font-size: 18px;
    margin: 3% 0px 25% 0px;
  }
  
  #section-start-button:hover {
    cursor: pointer;
    opacity: 75%;
  }

  #section-1-start-box {
    margin: 0px;
    padding: 0px;
  }

  .section-1-start-box {
    margin: 0px;
    padding: 0px;
  }




/* Plan Form */

#plan-form-h1 {
  margin: 13% auto 1% auto;
  text-align: center;
  font-size: 42px;
}

#plan-form-h2 {
  font-weight: normal;
  font-size: 16px;
  margin: 0px 0px 5% 0px;
}

.custom-select {
  padding: 20px;
  font-size: 24px;
  display: inline-block;
}

.errors {
  color: red;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 14px;
  font-weight: normal;
}






/* Plan Styles */

#plan-box {
  margin: 30px auto 0px auto;
  background-color: white;
  border-radius: 4px;
  width: 90%;
  padding: 3% 0px 6% 0px;
  border: #E2E1E1 2px solid;
}

.plan-title {
  text-align: center;
  float: left;
  padding: 0px 0px 0px 0px;
  font-size: 20px;
  display: inline-block;
  position: relative;
  margin: 20px 0px 0px 8%;
}

#plan-key-metric {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  margin: 23px 0px 0px 3%;
  font-weight: normal;
}

.display-on-down-click {
  display: block;
  margin: 80px 0px 40px 0px;
}

.plan-p-center{
  font-weight: 500;
  text-align: center;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font-size: 16px;
}

.plan-p-left{
  font-weight: 500;
  text-align: left;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font-size: 16px;
}

.plan-button-3 {
  background-color: rgb(4, 187, 172);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 6px 12px;
  font-size: 12px;
  margin: 10px 0px 10px 0px;
  font-weight: normal;
}

.plan-button-3:hover {
  cursor: pointer;
  opacity: 70%;
}

#plan-section-1 {
  display: inline-block;
  margin: 60px 10px 0px 10px;
  text-align: center;
  width: 80%;
}

#plan-section-2 {
  display: inline-block;
  margin: 10% 40px 0px 20px;
  text-align: left;
  vertical-align: top;
}

#to-do-section {
  display: inline-block;
  margin: 20px 0px 0px 0px;
  padding: 30px;
  text-align: left;
  border-radius:4px;
  border:rgb(226, 225, 225) 2px solid;
}

#plan-section-3 p {
  top: 0;
  margin: 0px;
  padding: 0px;
}

.to-do-checklist {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

.final-plan-h1 {
  font-size: 20px;
  margin: 0px 0px 20px 60px;
  padding: 0px;
}

.goal-plan-h1 {
  font-size: 20px;
  margin: 0px 0px 20px -10px;
  padding: 0px;
  text-align: left;
}

.final-plan-solid-hr {
  width: 92%;
  border: 1px solid rgb(226, 225, 225);
  margin: 40px auto 40px auto;
}

.plan-box-now {
  margin: 40px 40px 40px 40px;
  display: inline-block;
}

#up-arrow {
  float: right;
  margin: 20px 20px 40px 0px;
}

#up-arrow:hover {
  cursor: pointer;
  opacity: 70%;
}

#down-arrow {
  float: right;
  margin: 20px 20px 40px 0px;
}

#down-arrow:hover {
  cursor: pointer;
  opacity: 70%;
}

.goals-box {
  background-color: white;
  border-radius: 8px;
  width: 40%;
  display: inline-block;
  margin: 10px 10px 10px 10px;
  padding: 0px 0px 5% 0px;
  border: 2px solid rgb(226, 225, 225);
}

.goals-box:hover {
  cursor: pointer;
  opacity: 70%;
}

.goals-title {
  font-weight: 500;
  text-align: left;
  margin: 40px 0px 0px 20px;
  padding: 0px;
  font-size: 16px;
  vertical-align: center;
}

.green {
  color:rgb(4, 187, 172);
}

.goals-box-2 {
  margin: 0px 0px 0px 0px;
  height: 100px;
}

.goals-text {
  color:black;
  font-weight: 400;
  font-size: 14px;
  margin: 10px 0px 0px 20px;
  padding: 0px;
}

.goals-text-box {
  margin: 30px 0px 0px 0px;
}

.key-metric {
  font-weight: normal;
}

.savings-bar {
  border: 2px solid rgb(4, 187, 172);
  border-radius: 2px;
  width: 3%;
  text-align: left;
  margin: 0px 0px 10px 10%;
}

.goal-bar {
  border: 2px solid rgb(192, 192, 192);
  border-radius: 2px;
  width: 80%;
  text-align: left;
  margin: 6% auto 10px auto;
}

#savings-goal {
  margin: 20px 0px 0px 0px;
  font-weight: normal;
}

.investments-actual-bar {
  border: 2px solid rgb(4, 187, 172);
  border-radius: 2px;
  width: 80%;
  text-align: left;
  margin: 0px 0px 10px 0px;
}

.investments-goal-bar {
  border: 2px solid rgb(192, 192, 192);
  border-radius: 2px;
  width: 100%;
  text-align: left;
  margin: 0px 0px 10px 0px;
}

/* Wizard Section */

.container {
  display: flex;
  width: 40%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.wizard {
  display: flex;
  flex-direction: column;
  width: 100%;
  vertical-align: middle;
  margin: 0px 0px 0px 0px;
}

.wizard-title {
  padding: 8px;
}

.wizard-step {
  display: flex;
  flex-direction: column;
}

.wizard-step-content {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.wizard-step-content input {
  margin: 5px 0px 0px 0px;
  padding: 10px 10px;
}

.wizard-controls {
  padding: 12px;
}

.wizard-header {
  background-color: white;
  color: black;
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 20px 5%;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  text-align: left;
}

.wizard-header-h2 {
  display: inline-block;
  margin: 11px 10px 10px 16px;
  font-size: 16px;
  font-weight: 500;
}

.wizard-header-h2-selected {
  display: inline-block;
  margin: 11px 10px 10px 16px;
  font-size: 16px;
}

.wizard-footer {
  background-color: white;
  padding: 40px 0px 40px 0px;
  margin: 18% 0px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  width: 100%;
}

.wizard-footer-button {
  float: right;
  margin: 0px 5% 0px 0px;
  position: static;
  background-color:rgb(4, 187, 172);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 12px 26px;
  font-size: 16px;
  font-weight: normal;
}

.wizard-footer-button:hover {
  opacity: 70%;
  cursor: pointer;
}

.wizard-header-hr {
  color: rgb(211, 211, 211);
  background-color: rgb(211, 211, 211);
  border: 1px solid rgb(211, 211, 211);
  width: 5%;
  display: inline-block;
  margin: 0px 0px 3px 0px;
  padding: 0px;
}

.circle {
  background-color:rgb(224, 224, 224);
  color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 0px 0px 20px
}

.circle-state {
  background-color:rgb(4, 187, 172);
  color: white;
}

.wizard-headline {
  text-align: left;
  margin: 5% 0px 0px 8%;
}

.wizard-subheadline {
  text-align: left;
  margin: 1% 0px 0px 8%;
  font-weight: normal;
}

.inputs-div-1 {
  margin: 20px 0px 0px 0px;
  width: 100%;
  padding: 10px 0px 0px 8%;
  text-align: left;
}

.form-input {
  width: 40%;
  margin: 0px 0px 0px 0px;
  border: 1px rgb(221, 221, 221) solid;
  padding: 20px 0px 20px 0px;
  font-size: 14px;
  border-radius: 4px;
}

.input-label {
  font-size: 16px;
  margin: 0px 0px 5px 5px;
  color: rgb(0, 0, 0);
  padding: 20px 0px 20px 0px;
}

.input-div {
  margin: 0px 0px 20px 0px;
}

#start-plan-button {
  background-color: rgb(4, 187, 172);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 16px 32px;
  font-size: 18px;
  margin: 20px 0px 200px 0px;
  font-weight: normal;
}

#start-plan-button:hover {
  cursor: pointer;
  opacity: 75%;
}

.form-select {
  text-align: center;
  margin: 10px 0px 0px 0px;
  border: 1px rgb(221, 221, 221) solid;
  padding: 10px 0px 10px 9px;
  font-size: 14px;
  border-radius: 4px;
}

#investment-goal {
  font-weight: normal;
}



/* Loader Page */

.loader {
  background-color: white;
  color: white;
  height: 100%;
  padding: 10px 0px;
}

.loader-box {
  margin: 200px auto 200px auto;
  background-color: white;
}

.loader-text {
  margin: 0px auto 100px auto;
  padding: 0px 0px 100px 0px;
  font-weight: normal;
  text-align: center;
}

.ssamount {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin: 100px 0px 0px 0px;
}

#dateofbirth:hover {
  cursor: pointer;
}