/* Universal Styles */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
  background-color: white;
  width: 100%;
  overflow-x: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: left;
  font-size: 28px;
  margin: 0px 0px 0px 40px;
  padding: 40px 0px 0px 0px;
}

.app {
  text-align: center;
  background-color: white;
  padding: 0px 0px 0px 100px;
  height: 100%;
}

p {
  font-size: 16px;
}










/* Dashboard Section */

.h1 {
  margin: 20px 0px 0px 20px;
}

.plans {
  margin: 0px 64px 0px 0px;
}

#plansSection {
  background-color: white;
  border-radius: 8px;
  width: 80%;
  margin: 170px auto 220px auto;
  padding: 0px 0px 5% 0px;
  border: 1px solid #a5a5a5;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.2);
}

.plansSubtitle {
  margin: 50px 0px 20px 60px;
  display: inline-block;
  float: left;
  font-size: 20px;
  font-weight: bold;
}





/* Plans Page */

.navBar {
  height: 100%;
  width: 64px;
  top: 0px;
  left: 0px;
  background-color: white;
  position: fixed;
  z-index: 1;
  border-right: 1px solid #a5a5a5;
}

#plans {
  margin: 20px 0px 0px 120px;
}

#plans-h1 {
  margin: 20px 0px 0px 120px;
}

.plansSideLogo {
  margin: 60px 0px 0px 0px;
}

#plansSection2 {
  background-color: white;
  border-radius: 8px;
  width: 80%;
  margin: 40px auto 80px auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19);
  padding: 0px 0px 40px 0px;
}

.plansSolidHr {
  width: 90%;
  color: #a1a0a0;
  margin: 0px auto 0px auto;
}

.plansButton {
  float: right;
  display: inline-block;
  margin: 35px 70px 0px 0px;
  background-color: rgb(4, 187, 172);
  color: white;
  border: 0px solid rgb(192, 192, 192);
  border-radius: 4px;
  padding: 14px 28px;
  font-size: 14px;
  bottom: 0;
  position: relative;
}

.plansButton:hover {
  cursor: pointer;
  border: 0px solid black;
  opacity: 70%;
}

#noPlansMessage {
  font-weight: normal;
  text-align: center;
  margin: 40px 0px 0px 0px;
  display: none;
}

.dashboardLeftTitle {
  float: left;
  display: block;
  margin: 25px 0px 0px 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 18px;
}

.dashboardPlanBox {
  border: solid 1px #999999;
  border-radius: 4px;
  width: 90%;
  margin: 20px auto 20px auto;
  padding: 20px 25px 85px 85px;
  display: block;
}

.dashboardButton {
  float: right;
  display: inline-block;
  margin: 10px 40px 40px 0px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 14px 28px;
  font-size: 14px;
  bottom: 0;
  position: relative;
}

.dashboardButton:hover {
  background-color:rgb(238, 238, 238);
  cursor: pointer;
}










/* Images */

.home:hover {
  opacity: 70%;
  cursor: pointer;
}

.fpblogo:hover {
  opacity: 75%;
  cursor: pointer;
}

.settings:hover {
  opacity: 70%;
  cursor: pointer;
}

#plansSideLogo:hover {
  cursor: pointer;
  opacity: 75%;
}













/* Hover Elements */

.asset {
  float: left;
}

.chart {
  margin: 20px 0px 0px 0px;
}







/* Settings Section */

#settingsContainer {
  padding: 0px 0px 0px 0px;
}

#settingsContent {
  background-color: white;
  padding: 60px 0px 60px 0px;
  width: 80%;
  margin: 40px auto 80px auto;
  border-radius: 8px;
}

.accountContainer {
  border: 1px solid #a1a0a0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 20px 0px 20px 0px;
  padding: 20px 0px 20px 0px;
}

#cancelMethodTitle {
  margin: 15px 0px 10px 50px;
  display: inline-block;
  float: left;
  padding: 0px;
}

.cancelButton {
  float: right;
  display: inline-block;
  margin: 0px 70px 15px 0px;
  background-color: red;
  color: white;
  border: 0px solid rgb(192, 192, 192);
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 14px;
  bottom: 0;
  position: relative;
}

.cancelButton:hover {
  opacity: 70%;
  cursor: pointer;
}

.cancelSolidHr {
  width: 92%;
  border: 1px solid rgb(226, 225, 225);
  margin: 10px auto 0px auto;
}

#settingsMessage {
  font-weight: normal;
  text-align: center;
  margin: 40px 0px 20px 0px;
}

#paymentMethodTitle {
  margin: 15px 0px 10px 50px;
  display: inline-block;
  float: left;
  padding: 0px;
}

.paymentButton {
  float: right;
  display: inline-block;
  margin: 0px 70px 15px 0px;
  background-color: rgb(4, 187, 172);
  color: white;
  border: 0px solid rgb(192, 192, 192);
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 14px;
  bottom: 0;
  position: relative;
}

.paymentButton:hover {
  opacity: 70%;
  cursor: pointer;
}

.paymentSolidHr {
  width: 92%;
  border: 1px solid rgb(226, 225, 225);
  margin: 10px auto 0px auto;
}








/* Sidebar Section */

#fpbTopLogo {
  margin: 60px auto 0px auto;
}

.sidebarLogo {
  display: block;
  margin: 60px 0px 0px 0px;
}

#homeSideLogo {
  margin: 60px 0px 0px 0px;
}

#plansSideLogo {
  margin: 60px 0px 0px 0px;
}

.settingsSideLogo {
  margin: 60px 0px 0px 0px;
}







/* Footer Section */

#footerSection {
  border-top: 1px solid #a5a5a5;
  margin: 0px 0px 0px 0px;
  padding: 30px 0px 30px 0px;
  bottom: 0;
  width: 100%;
  position: relative;
}

#footerSection p {
  font-weight: normal;
  display: inline-block;
  text-align: left;
}

#footerCopyright {
  float: right;
  margin: 4px 40px 0px 0px;
  font-size: 16px;
  color: black;
}

#footerNavBox {
  display: inline-block;
  float: left;
  margin: 0px 0px 0px 60px;
  padding: 0px 0px 30px 0px;
}

#footerCopyrightBox {
  display: inline-block;
  float: right;
}

.footerNavItem {
  color: black;
  font-size: 16px;
  margin: 0px 20px 0px 40px;
}

.footerNavItem:hover {
  cursor: pointer;
  opacity: 70%;
}







/* Legal Page */
.legalSection {
  padding: 0px 0px 80px 0px;
}

#legalH1 {
  margin: 20px 0px 0px 120px;
}

.terms {
  font-weight: normal;
  margin: 20px 60px 0px 120px;
}

.termsH2 {
  text-align: left;
  margin: 20px 0px 0px 120px;
  font-size: 20px;
} 







/* Create a Plan */

#createAPlan {
  margin: 15% auto 1% auto;
  text-align: center;
  font-size: 46px;
}

#createAPlanH2 {
  font-weight: normal;
  font-size: 16px;
  margin: 0px 0px 0px 0px;
}

#createAPlan2H2 {
  font-weight: normal;
  font-size: 16px;
  margin: 15px 20% 10px 20%;
}

#startPlanButton {
  background-color: rgb(4, 187, 172);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 18px;
  margin: 30px 0px 200px 0px;
  font-weight: normal;
}

#startPlanButton:hover {
  cursor: pointer;
  opacity: 75%;
}

#section1StartBox {
  margin: 0px;
  padding: 0px;
}



/* Dashboard Plan Styles */

#plansSection2 {
  margin: 60px auto 450px auto;
}

#planBox {
  margin: 30px auto 0px auto;
  background-color: white;
  border-radius: 4px;
  width: 90%;
  padding: 3% 0px 6% 0px;
  border: 1px solid #a1a0a0;
}

.planTitle {
  text-align: center;
  float: left;
  padding: 0px 0px 0px 0px;
  font-size: 20px;
  display: inline-block;
  position: relative;
  margin: 20px 0px 0px 8%;
}

#planKeyMetric {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  margin: 23px 0px 0px 3%;
  font-weight: normal;
}

.displayOnDownClick {
  display: block;
  margin: 80px 0px 40px 0px;
}

.planPCenter{
  font-weight: 500;
  text-align: center;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font-size: 16px;
}

.planPLeft{
  font-weight: 500;
  text-align: left;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font-size: 16px;
}

#planSection1 {
  display: inline-block;
  margin: 60px 10px 0px 10px;
  text-align: center;
  width: 80%;
}

#planSection2 {
  display: inline-block;
  margin: 10% 40px 0px 20px;
  text-align: left;
  vertical-align: top;
}

#toDoSection {
  display: inline-block;
  margin: 20px 0px 0px 0px;
  padding: 30px;
  text-align: left;
  border-radius:4px;
  border:rgb(226, 225, 225) 2px solid;
}

.toDoChecklist {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

.finalPlanH1 {
  font-size: 20px;
  margin: 0px 0px 20px 60px;
  padding: 0px;
}

.goalPlanH1 {
  font-size: 20px;
  margin: 0px 0px 20px 10px;
  padding: 0px;
  text-align: left;
}

.finalPlanSolidHr {
  width: 92%;
  border: 1px solid rgb(226, 225, 225);
  margin: 40px auto 40px auto;
}

.planBoxNow {
  margin: 40px 40px 40px 40px;
  display: inline-block;
}

#upArrow {
  float: right;
  margin: 20px 20px 40px 0px;
}

#upArrow:hover {
  cursor: pointer;
  opacity: 70%;
}

#downArrow {
  float: right;
  margin: 20px 20px 40px 0px;
}

#downArrow:hover {
  cursor: pointer;
  opacity: 70%;
}

.goalsBox {
  background-color: white;
  border-radius: 8px;
  width: 40%;
  display: inline-block;
  margin: 10px 10px 10px 10px;
  padding: 0px 0px 5% 0px;
  border: 2px solid rgb(226, 225, 225);
}

.goalsBox:hover {
  cursor: pointer;
  opacity: 70%;
}

.goalsTitle {
  font-weight: 500;
  text-align: left;
  margin: 40px 0px 0px 20px;
  padding: 0px;
  font-size: 16px;
  vertical-align: center;
}

.goalsBox2 {
  margin: 0px 0px 0px 0px;
  height: 100px;
}

.goalsText {
  color:black;
  font-weight: 400;
  font-size: 14px;
  margin: 10px 0px 0px 20px;
  padding: 0px;
}

.goalsTextBox {
  margin: 30px 0px 0px 0px;
}

.keyMetric {
  font-weight: normal;
}

.savingsBar {
  border: 2px solid rgb(4, 187, 172);
  border-radius: 2px;
  width: 3%;
  text-align: left;
  margin: 0px 0px 10px 10%;
}

.goalBar {
  border: 2px solid rgb(192, 192, 192);
  border-radius: 2px;
  width: 80%;
  text-align: left;
  margin: 6% auto 10px auto;
}

#savingsGoal {
  margin: 20px 0px 0px 0px;
  font-weight: normal;
}

.investmentsActualBar {
  border: 2px solid rgb(4, 187, 172);
  border-radius: 2px;
  width: 80%;
  text-align: left;
  margin: 0px 0px 10px 0px;
}

.investmentsGoalBar {
  border: 2px solid rgb(192, 192, 192);
  border-radius: 2px;
  width: 100%;
  text-align: left;
  margin: 0px 0px 10px 0px;
}

.errors {
  color: red;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 14px;
  font-weight: normal;
}






/* Wizard Page Styles */

.wizard {
  display: flex;
  flex-direction: column;
  width: 100%;
  vertical-align: middle;
  margin: 0px 0px 0px 0px;
}



/* Wizard Header Styles */

.wizardHeader {
  background-color: white;
  color: black;
  margin: 0px 0px 0px 0px;
  padding: 40px 0px 10px 0px;
  top: 0;
  text-align: center;
}

.wizardHeaderH2 {
  display: inline-block;
  margin: 11px 16px 10px 16px;
  font-size: 16px;
  font-weight: 400;
}

.wizardHeaderH2Selected {
  display: inline-block;
  margin: 11px 10px 10px 16px;
  font-size: 16px;
}

.wizardHeaderHr {
  color: rgb(211, 211, 211);
  background-color: rgb(211, 211, 211);
  border: 1px solid rgb(211, 211, 211);
  width: 5%;
  display: inline-block;
  margin: 0px 0px 3px 0px;
  padding: 0px;
}

.circle {
  background-color:rgb(224, 224, 224);
  color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 0px 0px 20px
}

.circleState {
  background-color:rgb(4, 187, 172);
  color: white;
}






/* Wizard Footer Styles */

.wizardFooter {
  background-color: white;
  padding: 20px 0px 40px 0px;
  margin: 20px 0px 0px 0px;
  width: 100%;
}

.wizardFooterButton {
  margin: 0px 5% 0px 0px;
  position: static;
  background-color:rgb(4, 187, 172);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: normal;
}

.wizardFooterButton:hover {
  opacity: 70%;
  cursor: pointer;
}






/* Wizard Headline Styles */

.wizardHeadline {
  text-align: left;
  margin: 5% 0px 0px 8%;
}

.wizardSubheadline {
  text-align: left;
  margin: 1% 0px 0px 8%;
  font-weight: normal;
}



/* Wizard Form Styles */

.inputsDiv1 {
  margin: 20px 0px 0px 0px;
  width: 100%;
  padding: 10px 0px 0px 8%;
  text-align: left;
}

.formBorder {
  border: solid 1px #a5a5a5;
  width: 50%;
  border-radius: 4px;
  margin: 40px auto 0px auto;
  padding: 10px 10px 35px 10px;
}

.formInput {
  width: 40%;
  margin: 0px 40px 0px 0px;
  border: 1px rgb(221, 221, 221) solid;
  padding: 20px 0px 20px 0px;
  font-size: 14px;
  border-radius: 4px;
}

.formInputPages {
  width: 40%;
  margin: 5px 40px 0px 0px;
  border: 1px rgb(221, 221, 221) solid;
  padding: 10px 0px 10px 10px;
  font-size: 14px;
  border-radius: 4px;
}

.formInputDob {
  width: 10%;
  margin: 5px 0px 0px 10px;
  border: 1px rgb(221, 221, 221) solid;
  padding: 10px 0px 10px 10px;
  font-size: 14px;
  border-radius: 4px;
}

.inputLabel {
  font-size: 16px;
  margin: 0px 0px 5px 5px;
  color: rgb(0, 0, 0);
  padding: 20px 0px 20px 0px;
}

.inputDiv {
  margin: 0px 0px 20px 0px;
}

.formSelect {
  text-align: center;
  margin: 10px 0px 0px 0px;
  border: 1px rgb(221, 221, 221) solid;
  padding: 10px 0px 10px 9px;
  font-size: 14px;
  border-radius: 4px;
}

#dateOfBirth:hover {
  cursor: pointer;
}









/* Customization Page Styles */

.ssAmount {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin: 10px 0px 0px 0px;
  line-height: 25px;
}

.summaryOption {
  display: inline-block;
  margin: 30px 50px 40px 50px;
  background-color: white;
  border: solid 1px #a5a5a5;
  border-radius: 4px;
  padding: 10px 20px 15px 20px;
}

.totalRetirementEarnings{
  font-size: 14px;
  color: black;
}

.loading {
  margin: 25% auto 20% auto;
  text-align: center;
}

.lifetimeEarnings {
  line-height: 5px;
  font-size: 14px;
}

.recommendationsH2 {
  padding: 60px 0px 0px 0px;
  margin: 0px 0px -5px 0px;
}

.summary {
  background-color: white;
  margin: 2% 5% 2% 5%;
  padding: 2%;
  border-radius: 32px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 4px 8px 0 rgba(0,0,0,0.2);
}

.scorecardButton {
  margin: 40px auto 40px auto;
  text-align: center;
  background-color:rgb(4, 187, 172);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 20px 32px;
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.scorecardButton:hover {
  cursor: pointer;
  opacity: 70%;
}

.barChart {
  margin: 40px auto 0px auto;
  color: black;
}

.barChartContainer {
  margin: 0px 40px 0px 0px;
}

.block1 {
  display: inline-block;
  width: 50%;
  float: left;
  margin: 0px;
  padding: 0px;
}

.block2 {
  display: inline-block;
  width: 50%; 
  margin: 30px 0px 0px 0px;
  padding: 0px;
}

.blocksSection {
  display: block;
  margin: -10px auto 20px auto;
  border: 1px solid #a5a5a5;
  width: 90%;
  border-radius: 4px;
  padding: 0px 0px 50px 0px;
}

.projectionsHeadline {
  margin: 0px 0px 40px 0px;
}

.customizationQuestion {
  font-weight: normal;
  font-size: 14px;
}

.projectionsButtonSection {
  margin: -10px auto 0px auto;
  text-align: center;
  display: block;
  padding: 0px 0px 10px 0px;
  background-color: white;
}

.chartHeadline {
  margin: 100px 0px -20px 0px;
  font-size: 14px;
  color:black;
}

.chartDescription {
  margin: 0px 0px 20px 0px;
  font-size: 14px;
  color:#858585;
}

.decisionsSavingsSection {
  display: inline-block; 
  width: 26%;
  margin: 0px 20px 0px 20px;
  vertical-align: top;
  border: 1px solid rgb(156, 156, 156);
  padding: 10px;
  border-radius: 4px;
}

.rateOfReturnSection {
  display: inline-block;
  width: 22%;
  margin: 0px 20px 0px 20px;
  vertical-align: top;
}

.reduceExpensesSection {
  display: inline-block;
  width: 18%;
  margin: 0px 20px 0px 20px;
  vertical-align: top;
}

.ssQuestion {
  text-align: center;
  font-weight: bold;
  margin: 10px 0px 5px 0px;
}

.decisionsSocialSecuritySection {
  display: inline-block;
  width: 30%;
  margin: 10px 10px 10px 10px;
  vertical-align: top;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 10px 10px 20px 10px;
}

.decisionsSocialSecuritySection h1 {
  text-align: center;
  margin: -20px auto 20px auto;
}

.projectionsP {
  margin: 0px 0px 20px 0px;
}

.projectionsH2 {
  margin: 30px 0px 20px 0px;
}

.projectionsPage {
  background-color: white;
  margin: -25px 0px 0px 0px;
}





/* Final Plan Section */

.planSection {
  border: solid 1px black;
  border-radius: 4px;
  width: 60%;
  height: 80%;
  margin: 40px auto 40px auto;
  padding: 20px;
}




/* Scenario Form Section */

.scenarioFormInput {
  width: 40%;
  border: 1px rgb(221, 221, 221) solid;
  padding: 10px 0px 10px 20px; 
  font-size: 14px;
  border-radius: 4px;
  margin: 15px 0px 0px 0px;
}

.scenarioFormInput::placeholder {
  font-size: 14px;
}

.scenarioLabel {
  font-size: 14px;
  text-align: left;
}

.saveScenarioButton {
  margin: 20px auto 0px auto;
  text-align: center;
  background-color:rgb(4, 187, 172);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 20px 32px;
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.saveScenarioButton:hover {
  cursor: pointer;
  opacity: 70%;
}

.savedMessage {
  font-size: 14px;
  line-height: 20px;
}





/* Plan Results Page Styles */

.planResultsPageTitle {
  text-align: center;
  margin: 0px auto -5px auto;
}

.planResultsSection {
  border: solid 1px #a5a5a5;
  border-radius: 4px;
  width: 70%;
  margin: 50px auto 25px auto;
  padding: 0px;
}

.planResultsTitle {
  text-align: center;
  margin: 20px auto 20px auto;
  padding: 0px;
}

.planResultsSubTitle {
  margin: 10px 0px 10px 0px;
}

.planResultsDashboardButton {
  margin: 20px 0px 60px 0px;
  position: static;
  background-color:rgb(4, 187, 172);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: normal;
}

.planResultsDashboardButton:hover {
  opacity: 70%;
  cursor: pointer;
}

.planResultsPrintButton {
  margin: 10px 10px 0px 10px;
  position: static;
  background-color:rgb(4, 187, 172);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: normal;
}

.planResultsPrintButton:hover {
  opacity: 70%;
  cursor: pointer;
}

.planResultsPDFButton {
  margin: 10px 10px 0px 10px;
  position: static;
  background-color:rgb(4, 187, 172);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: normal;
}

.planResultsPDFButton:hover {
  opacity: 70%;
  cursor: pointer;
}

.planResultsH2 {
  font-size: 18px;
  margin: 40px 0px 40px 0px;
}

.planResultsP {
  line-height: 25px;
}

.planResultsBlock {
  display: inline-block;
  padding: 0px 40px 0px 40px;
}

.planResultsLeftBlock {
  float: left;
}